:root{
    --off-white: #f8f5f2;
    --marrom-escuro: #5C3D2E;
    --marrom-medio: #8B5E3C;
    --bege-quente: #FFD699;
    --bege-claro: #F0E6DD;
    --off-white: #F8F5F2;
    --branco: #FFFFFF;
    --cinza-escuro: #333333;
    --cinza-claro: #E6E6E6;
    --preto-suave: #1A1A1A;
    --sombra: rgba(0, 0, 0, 0.2);
    
}